@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme (default) */
:root {
  --text: 0 0 0;
  --background: 235 231 224;
  --primary: 130 177 255;
  --secondary: 239 83 80;
  --accent: 255 235 59;

}

/* Dark theme */
[data-theme='dark'] {
  --text: 224 224 224;
  --background: 18 18 18;
  --primary: 25 118 210;
  --secondary: 211 47 47;
  --accent: 254 238 33;
}

/* Kermit theme */
[data-theme='kermit'] {
  --text: 0 0 0;
  --background: 220 252 231;
  --primary: 34 197 94;
  --secondary: 22 163 74;
  --accent: 251 191 36;
}

@layer components {
  /* nav {
    @apply bg-primary shadow-2xl sticky top-0 p-4 left-0;
  }

  nav .container {
    @apply container mx-auto flex text-4xl justify-between items-center;
  }

  nav select {
    @apply bg-accent/80 hover:bg-accent p-2 rounded text-background text-lg cursor-pointer;
  } */

  .button {
    @apply bg-primary/80 hover:bg-primary text-3xl font-semibold p-4 m-4 rounded-xl justify-center items-center;
  }
}
